
.fixed_bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    content: "";
    display: block;
    opacity: 0.2;
    z-index: -1;
}

.page {
    overflow: hidden;
    page-break-after: always;
}

.cd-timeline-img {
    position: static;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}